%h1 Containers

- if containers.empty?
  %p No containers available

%ul
  - for container in containers
    - cont = Hashie::Mash.new container.info
    %li
      - split =  container.info.to_yaml.split "\n"
      %h2 #{cont.Names.first[1..-1]} (#{cont.id[0..5]})
      %pre
        = split[1..-1].join "<br>"
      %pre
        = container.top

      -# BUTTON
      -# list of containers, buttons for each
      -# container.restart #=> container.id
      -# container.stop #=> image.id
      -# container.delete #=> image.id

      -# INFO (desired output)
      -# container.id
      -# container.stats # host stats
      -# container.info  # (
      -#   ports:  [{}, ...],
      -#   labels: { project: "project", service: "service" },
      -#   networks # NetworkSettings.Networks.appname_default .NetworkID & .IPAddress
      -#   mounts: # volumes { name: "id", source: "/...", destination: "/..." }
      -# )
