%html
  %head
    %title DockerUI
    %link{ href: "/css/main.css", rel: "stylesheet", type: "text/css" }
  %body
    %header
      %h1 DockerUI
    %nav
      %ul
        %li
          %a{ href: "/" } Containers
        %li
          %a{ href: "/page2" } Second Link ...

    %section#container
      = yield
