%html
  %head
    %title DockerUI
    %link{ href: "/css/main.css", rel: "stylesheet", type: "text/css" }

    :javascript
      var anchor_proto = Object.create(HTMLAnchorElement.prototype);
      anchor_proto.createdCallback = function() {
        var method = this.attributes.method.value
        var action = this.attributes.href.value
        this.innerHTML = this.innerHTML + "<form style='display: none' action='"+action+"' method='"+method+"'></form>";
        var form   = this.childNodes[1]
        this.addEventListener('click', function(evt) {
          evt.preventDefault();
          form.submit()
        });
      };
      var XLink = document.registerElement('x-link', {
        prototype: Object.create(anchor_proto),
        extends: 'a'
      });


      document.addEventListener("DOMContentLoaded", function(event) {

        // var xLink = new XLink();
        // document.body.appendChild(xLink);
      });


    -# %link{ rel: "import", href: "link.html" }
  %body
    %header
      %h1 DockerUI

    %nav
      %a{ href: "/" }       Containers
      %a{ href: "/images" } Images

    %section#container
      = yield
